$text-color-white: #CACACA;
$subtitle-color-black: #323232;
$title-text-color-black: #4a4a4a;
$text-color-black: #606060;
$main-color: #FFC839;
$footer-bg-color: #093A7A;
$title-description-size: 30px;  