

.welcome-page {
    background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%), url(../img/bg-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

    &__container  {
        @include flex-small();

        height: 500px;
        color: white;
        
        @media (min-width:768px) {
            align-items: flex-start;
            text-align: left;
            height: 750px;
        }
    }
}